@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

/*-------------------------------- Mixin -----------------------------------*/
@mixin flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-------------------------------- GENERAL -----------------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
}

.h1{
    font-size: 52px;
    line-height: 120%;
    color: #624346;
}

.h2 {
    font-size: 48px;
    line-height: 120%;
    color: #624346;
}

p, a {
    font-family: 'Gordita';
    ;
}

li {

    a {
        text-decoration: none;
    }  
}

button.btn-full{
    background: #624346;
    border-radius: 9px;
    padding: 20px 50px;
    border: none;
    font-family: Gordita;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: white;
    cursor: pointer;
    
}

button.btn-clear{
    
    background-color: #F9E5DB;
    border-radius: 9px;
    border-color: #624346;
    padding: 20px 50px;
    font-family: Gordita;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #624346;
    cursor: pointer;

}


/*----------------- Large devices (laptops/desktops, 992px and up) --------------------------*/
@media only screen and (min-width: 992px) {

/*-----HERO (positioning and z-index ----*/
header.hero{
    position: relative;
    height: 100vh;
}

.hero-background {
    background-color: #E6D0C5;
    ;
    height: 100vh;
    width: 60%;
    position: absolute;
    z-index: 1;
}

.positioning {
    position: absolute;
    z-index: 5;
    
    width: 100%;
}

nav.hero-top {
    display: flex;
    justify-content: space-between;
    margin: 14px 62px 0 62px;
    align-items: center;

    ul{
        display: flex;
        

        li{
            list-style-type: none;
            padding-right: 35px;
            
            a{
                color: #624346;
            }
        }
    }
}

.hero-lower{
    display: flex;
    justify-content: space-between;
    margin: 56px 140px 0 140px;

    .hero-content {
        max-width: 660px;
        margin: 110px 60px 0 0;
        

        h1{
            margin-bottom: 43px;
        }

        p{
            margin-bottom: 40px;
            max-width: 500px;
        }
    }

    img {
        max-width: 500px;
    }
}

/*-----Client's testimonials ----*/

section.testimonials {
    
    .title{
        @include flexcenter();
        margin-top: 50px;
    }

    .testimonial-wrap{
        display: flex;
        justify-content: space-between;
        margin: 72px 320px 60px ;

        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            p{
                max-width: 197px;
                font-size: 12px;
                line-height: 160%;
                margin: 15px 0;
            }

            h4{
                margin-top: 30px;
                margin-bottom: 20px;
            }

            img{
                width: 70%;
            }
        }
    }


}




.products{
    
    .title{
        @include flexcenter();
        margin-top: 50px;
        margin-bottom: 92px;
    }

    
    .product-items{
        background-color: #F9E5DB;
        max-width: 900px;
        margin: 0 auto;
        

        .product-item {
            @include flexcenter();
    
            img {
                max-width: 450px;
            }

            .description-wrapper{
                width: 450px;
                display: flex;
                justify-content: center;

                .product-description{
                    max-width: 327px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;

                    h2{
                        font-size: 32px;
                        color: #624346;
                        margin-bottom: 36px;
                    }

                    p{
                        color: #624346;
                        margin-bottom: 63px;
                    }
                }
            }
            
        }
    }
}

/*-----About Suphia ----*/

.about {
    
    background-color: #F9E5DB;
    height: 90vh;
    margin-top: 148px;
    

    
/*-----I made sure the "center-content" is centered on any screen ----*/
    .center-content{

        width: 1200px;
        margin: 0 auto; /*I gave it a width and set margin as such*/
        height: 60vh;
        position: relative;
        

        img{
            position: absolute;
            z-index: 1;
            top: 61px;
            left: 40px;
        }

    }

    .about-wrapper{
        background-color: white;
        max-width: 600px;
        position: absolute;
        z-index: 5;
        top: 93px;
        left: 500px;
        
        .about-content{
            @include flexcenter();
            flex-direction: column;
            text-align: center;

            h2{
                margin-top: 13px;
                margin-bottom: 76px;
            }

            p{
                color: #624346;
                padding: 0 40px;
            }

            button{
                margin-top: 90px;
                margin-bottom: 50px;
            }
        }

    }
}

/*-----Where to find us ----*/

.location{
    height: 80vh;

    .location-wrapper{
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;

        .location-content{
            
            margin: 23px 190px 0;
        }


        h4{
            font-family: Gordita;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 120%;
            margin-bottom: 60px;
        }

        span{
            font-family: Gordita;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 120%;
            
        }

        ul{
            margin-top: 25px;
        }
        ul > li {
            font-family: Gordita;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 174.5%;
           
        }
    }

    h2 {
        @include flexcenter();
        margin-top: 60px;
        margin-bottom: 80px;
    }
}


/*----- Footer ----*/

footer {
    background-color: #624346;
    color: white;
    

    .upper-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
        padding-top: 50px;
        
        
        li {
            list-style-type: none;
        }

        .column ul > li {
            margin-bottom: 20px;
        }

        span {
            font-family: 'Gordita';
            font-style: normal;
            font-size: 18px;
            line-height: 160%;
            
        }
        ul {
            margin-top: 50px;
        }

        ul > li a {
            color: white;
            font-size: 12px;
        }

        .column1{

            ul > li a {
                color: white;
                font-family: 'Playfair Display';
                font-style: normal;
                font-weight: bold;
                font-size: 32px;
                line-height: 120%;
            }
        }
    }

    .line1{
        height: 1px;
        background-color: white;
        margin: 90px 28px 0;
        
    }

    .lower-footer{
        max-width: 1200px;
        margin: 0 auto;

        .socials a {
            margin-left: 15px;
        } 
    }
    .lower-footer-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 47px 0 0;
    }

    .lower-footer {
        padding-bottom: 70px;

        div > p {
            margin: 36px 0 0;  
            font-size: 12px;
            float: right;
        } 

    }
}





}